In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('../data/raw/CarPrice_Assignment.csv')

print("Biblioteki załadowane! Gotowy do analizy.")
df

Biblioteki załadowane! Gotowy do analizy.

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB
None

In [4]:
print("\nBrakujące wartości:")
print(df.isnull().sum())

Brakujące wartości:
car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [5]:
df['brand'] = df['CarName'].apply(lambda x: x.split(' ')[0])

In [6]:
print("\nUnikalne marki przed poprawką:")
print(df['brand'].unique())

Unikalne marki przed poprawką:
['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'maxda' 'mazda' 'buick' 'mercury' 'mitsubishi' 'Nissan' 'nissan'
 'peugeot' 'plymouth' 'porsche' 'porcshce' 'renault' 'saab' 'subaru'
 'toyota' 'toyouta' 'vokswagen' 'volkswagen' 'vw' 'volvo']

In [7]:
df.duplicated().sum()

0

In [8]:
df.duplicated(subset="car_ID").sum()

0

In [9]:
df.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,brand
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

In [10]:
df["CarName"].head(5)

0          alfa-romero giulia
1         alfa-romero stelvio
2    alfa-romero Quadrifoglio
3                 audi 100 ls
4                  audi 100ls
Name: CarName, dtype: object

In [11]:
df["CarName"].str.split().head(5)

0          [alfa-romero, giulia]
1         [alfa-romero, stelvio]
2    [alfa-romero, Quadrifoglio]
3                [audi, 100, ls]
4                  [audi, 100ls]
Name: CarName, dtype: object

In [12]:
df["CarName"].str.split().str[0].head(5)

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
Name: CarName, dtype: object

In [13]:
df["brand"] = df["CarName"].str.split().str[0].str.lower().str.strip()

In [14]:
df["brand"].head(10)

0    alfa-romero
1    alfa-romero
2    alfa-romero
3           audi
4           audi
5           audi
6           audi
7           audi
8           audi
9           audi
Name: brand, dtype: object

In [15]:
df["brand"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [16]:
df["brand"].nunique()

27

In [17]:
df["brand"].value_counts().head(20)

brand
toyota         31
nissan         18
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
dodge           9
volkswagen      9
bmw             8
buick           8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
alfa-romero     3
jaguar          3
chevrolet       3
Name: count, dtype: int64

In [18]:
sus = ["maxda", "porcshce", "toyouta", "vokswagen", "vw"]
mask = df["brand"].isin(sus)
mask

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Name: brand, Length: 205, dtype: bool

In [ ]:
df_filtered = df[mask] # pokaż mi tylko te wiersze, gdzie maska = True
df_filtered

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,brand
50,51,1,maxda rx3,gas,std,two,hatchback,fwd,front,93.1,...,2bbl,3.03,3.15,9.0,68,5000,30,31,5195.0,maxda
51,52,1,maxda glc deluxe,gas,std,two,hatchback,fwd,front,93.1,...,2bbl,3.03,3.15,9.0,68,5000,31,38,6095.0,maxda
126,127,3,porcshce panamera,gas,std,two,hardtop,rwd,rear,89.5,...,mpfi,3.74,2.90,9.5,207,5900,17,25,32528.0,porcshce
181,182,-1,toyouta tercel,gas,std,four,wagon,rwd,front,104.5,...,mpfi,3.27,3.35,9.2,156,5200,19,24,15750.0,toyouta
182,183,2,vokswagen rabbit,diesel,std,two,sedan,fwd,front,97.3,...,idi,3.01,3.40,23.0,52,4800,37,46,7775.0,vokswagen
189,190,3,vw dasher,gas,std,two,convertible,fwd,front,94.5,...,mpfi,3.19,3.40,8.5,90,5500,24,29,11595.0,vw
190,191,3,vw rabbit,gas,std,two,hatchback,fwd,front,94.5,...,mpfi,3.19,3.40,8.5,90,5500,24,29,9980.0,vw

In [21]:
df[df["brand"].isin(sus)]

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,brand
50,51,1,maxda rx3,gas,std,two,hatchback,fwd,front,93.1,...,2bbl,3.03,3.15,9.0,68,5000,30,31,5195.0,maxda
51,52,1,maxda glc deluxe,gas,std,two,hatchback,fwd,front,93.1,...,2bbl,3.03,3.15,9.0,68,5000,31,38,6095.0,maxda
126,127,3,porcshce panamera,gas,std,two,hardtop,rwd,rear,89.5,...,mpfi,3.74,2.90,9.5,207,5900,17,25,32528.0,porcshce
181,182,-1,toyouta tercel,gas,std,four,wagon,rwd,front,104.5,...,mpfi,3.27,3.35,9.2,156,5200,19,24,15750.0,toyouta
182,183,2,vokswagen rabbit,diesel,std,two,sedan,fwd,front,97.3,...,idi,3.01,3.40,23.0,52,4800,37,46,7775.0,vokswagen
189,190,3,vw dasher,gas,std,two,convertible,fwd,front,94.5,...,mpfi,3.19,3.40,8.5,90,5500,24,29,11595.0,vw
190,191,3,vw rabbit,gas,std,two,hatchback,fwd,front,94.5,...,mpfi,3.19,3.40,8.5,90,5500,24,29,9980.0,vw

In [22]:
df_filtered["brand"]

50         maxda
51         maxda
126     porcshce
181      toyouta
182    vokswagen
189           vw
190           vw
Name: brand, dtype: object

In [23]:
df_filtered["brand"].value_counts()

brand
maxda        2
vw           2
porcshce     1
toyouta      1
vokswagen    1
Name: count, dtype: int64

In [24]:
fix_map = {
    "maxda": "mazda",
    "toyouta": "toyota",
    "vokswagen": "volkswagen",
    "vw": "Volkswagen",
    "porcsche": "porsche",
}
df["brand"] = df["brand"].replace(fix_map)

In [26]:
df["brand"].nunique()

24

In [27]:
df["brand"].value_counts().head(10)

brand
toyota        32
nissan        18
mazda         17
honda         13
mitsubishi    13
subaru        12
peugeot       11
volvo         11
volkswagen    10
dodge          9
Name: count, dtype: int64

In [28]:
df["brand"] = df["brand"].str.strip().str.lower()

In [29]:
fix_map = {
    "maxda": "mazda",
    "toyouta": "toyota",
    "vokswagen": "volkswagen",
    "vw": "volkswagen",
    "porcsche": "porsche",
}
df["brand"] = df["brand"].replace(fix_map)

In [30]:
df["brand"].value_counts().loc[lambda s: s.index.str.contains("volks", case=False)]

brand
volkswagen    12
Name: count, dtype: int64

In [31]:
df["brand"].nunique()

23

In [32]:
df["brand"].value_counts().head(10)

brand
toyota        32
nissan        18
mazda         17
mitsubishi    13
honda         13
volkswagen    12
subaru        12
peugeot       11
volvo         11
dodge          9
Name: count, dtype: int64

In [33]:
df["brand"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'porcshce', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

TypeError: Series.unique() takes 1 positional argument but 2 were given