In [5]:
import pandas as pd

toy = pd.DataFrame({
    "car": ["A", "B", "B", "C", "B"],
    "price": [10, 20, 20, 30, 20]
})

toy

  car  price
0   A     10
1   B     20
2   B     20
3   C     30
4   B     20

In [6]:
toy["is_dup"] = toy.duplicated()
toy

  car  price  is_dup
0   A     10   False
1   B     20   False
2   B     20    True
3   C     30   False
4   B     20    True

In [7]:
toy.duplicated().sum()

1

In [9]:
toy.duplicated(subset=["car", "price"]).sum()

2